@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');
/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Reem Kufi', sans-serif;
*/
a,a:link,a:visited,a:hover,a:active{
    list-style: none;
    color:#333;
    text-decoration: none;
}
.flex{
    display: flex;
    flex-flow: row wrap;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}
h2{
    display:none;
	visibility:hidden;
	width:0; height:0;
	overflow:hidden;
	text-indent:-9999px;
}
.wrap1440{width: 1440px; margin: 0 auto;}
.wrap1280{width: 1280px; margin: 0 auto;}
.between{justify-content: space-between;}
.around{justify-content: space-around;}

/*header*/
header{width: 100%; height: 100px;}
nav{line-height: 100px;}
#gnb{
    display: flex;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1.2rem; font-weight: bold;
    width: 50%;
    letter-spacing: -0.1rem;
}
#gnb li:hover a{color:#780997;}
#gnb li{height: 95%;}
#gnb li:hover{border-bottom: 3px solid #780997;}
#logo{
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transform: translateY(100%);
    text-indent: -999px; overflow: hidden;
    width: 150px; height: 30px;
}
#logo a{
    display: block;
}
.banner{
    background-color:#780997; /* #ff5b28 */
    width: 160px; height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 1.1rem;
    text-align: center;
    transform: translateY(50%);
    background-image: url('../images/logo-icon.png');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 80% center;
}
.banner a{
    display: block;
    width: 130px; height: 40px;
    color: #fff;
}

/*aside*/
aside{
    position: fixed;
    right: 2%; top:40%;
}
#franchise li{
    width: 100px; height: 100px;
    background-color: #291b35;
    border-radius: 50px;
    text-align: center;
    padding-top: 25%;
    box-sizing: border-box;
}
#franchise li:nth-child(2){
    margin: 10px 0;
}
#franchise li:nth-child(2) img{padding-top: 5px;}
#franchise li a{color: #fff;}
#franchise span{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1.3rem;
}

/*visual banner*/
#vb{
    width: 100%; height: 480px;
    background: url('../images/header_bg.png') no-repeat;
}
#introMent{
    font-family: 'Reem Kufi', sans-serif;
    color: #fff; padding-top: 200px;
}
#introMent li{text-align: center;}
#introMent li:first-of-type{
    margin-bottom: 30px;
    font-weight: 600; font-size: 3rem;
    letter-spacing: -0.1rem;
}
#introMent li:last-of-type{
    font-size: 1.1rem;
}

/*메뉴 3개 영역*/
#lnb{
    height: 60px; width: 100%;
    border-bottom: 2px solid #ddd;
    line-height: 60px;
    margin-bottom: 100px;
}
#lnb ul{width: 25%; margin: 0 auto;}
#lnb ul li{
    font-size: 1.1rem;
    font-weight: 400;
}
#lnb ul li a{display: block;}
#lnb li:hover a{color:#780997;}
#lnb li{height: 95%;}
#lnb li:hover{border-bottom: 2px solid #780997;}

/*음료 카테고리 영역*/
#category{margin-bottom: 50px;}
#category ul li{
    width: 25%; height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #e6deda;
    font-size: 1.1rem;
    font-weight: 500;
}
#category li:hover a{color:#fff;}
#category li:hover{
    background-color: #780997;
    cursor: pointer;
}

/*갤러리 영역*/
#gallery ul li{
    width: 24%; height: 350px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
}
#gallery ul li:nth-of-type(13),
#gallery ul li:nth-of-type(14),
#gallery ul li:nth-of-type(15),
#gallery ul li:nth-of-type(16){
    margin-bottom: 0;
}
#gallery ul li p:first-of-type{
    width: 50px; height: 50px;
    border-radius: 30px;
    background-color: #e98004;
    color:#fff;
    line-height: 50px;
    position: absolute;
    right:5%; top:5%;
}
#gallery ul li img,
#gallery ul li figcaption{padding-top: 10%;}
#gallery ul li figcaption{
    color:#666;
    font-size: 1rem;
}
#gallery .blue,
#gallery .red{
    width: 10px; height: 10px;
    border-radius: 5px;
    overflow:hidden;
	text-indent:-9999px;
    margin: 0 auto;
}
#gallery .blue{background-color:dodgerblue;}
#gallery .red{background-color:crimson;}
#gallery ul li ul{width: 11%; margin: 0 auto;}

/*footer*/
footer{
    margin-top: 150px;
    width: 100%;
    background-color: #2c0039;
    color: #fff;
}
#ft_menu{width: 35%;}
#ft_menu li{font-size: 1.1rem;}
footer div.flex ul.flex li a{color:#fff;}
footer div:nth-of-type(1){
    height: 170px;
    line-height: 170px;
}
#ft_logo{
    background-image: url('../images/footer_logo.png');
    background-repeat: no-repeat;
    width: 196px; height: 34px;
	overflow:hidden;
	text-indent:-9999px;
    margin-top: 75px;
}
footer hr{width: 100%;}
#sns li{margin: 0 5px;}
/*hr 아래 영역*/
#second{
    height: 250px;
    font-size: 1.1rem;
    font-weight: lighter;
}
#orange li:first-child{
    margin: 80px 0 20px 0;
}
#orange span{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 2rem;
    color:#ff5b28;
    margin-left: 10px;
}
#second .banner{
    background-color:#ff5b28;
    width: 100px; height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    padding-left: 20px;
    transform: translateY(200%);
    background-image: url('../images/logo-icon.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 80% center;
}
#addr{margin-top: 40px; width: 43%;}
#addr span{
    font-weight: 500;
    margin-right: 20px;
}
#addr li{line-height: 35px;}
#addr li:last-child{line-height: 55px;}


@media all and (max-width:1024px){
    aside{display: none;}
    .wrap1440{width: 90%;}
    header h3{display: none;}
    #menu{
        display: block;
        width: 40px; margin-top: 35px;
        cursor: pointer;
    }
    #menu span{
        width:100%; height: 4px;
        background: #111;
        display: block;
        border-radius: 30px;
    }
    #menu>span:nth-child(2){margin: 7px 0;}
    header>nav{width: 100%;}
    #gnb{
        display: none;
        flex-flow: column wrap;
        width: 20%; height: 10%;
        position: relative;
        text-align: center;
        right: -35%; margin-top: 100px;
        background: rgba(0, 0, 0, 0.4);
    }
    #gnb li{height: 80px; line-height: 80px; cursor: pointer;}
    #gnb li a{color: #fff;}
    #gnb li:hover a{color:#fff;}
    #gnb li:hover{background-color: #780997; box-sizing: border-box;}
    .aniMenu::before{
        content: '';
        display: block;
        background: #111;
        width: 40px; height: 4px;
        transform: rotate(-45deg);
        border-radius: 20px;
        position: absolute;
        top:45px; 
    }
    .aniMenu::after{
        content: '';
        display: block;
        background: #111;
        width: 40px; height: 4px;
        transform: rotate(45deg);
        border-radius: 20px;
        position: absolute;
        top:45px;
    }
    #menu.aniMenu>span{
        background: transparent;
        transition: all .3s;
    }

    #lnb ul{width: 40%; margin: 0 auto;}
    #category ul{width: 100%;}
    #category ul li{width: 50%;}
    #gallery ul{width: 100%;}
    #gallery ul li{width: 49%;}

    footer{height: 600px; background-color: #2c0039;}
    footer hr{display: none;}
    #ft_menu, #sns{flex-direction: row;}
    #fir, #second{
        width: 95%; background-color: #2c0039;
    }
    #fir{height: 25%;}
    #second{height: 70%;}
    #ft_menu{
        position: relative;
        left: -21%; top: 50%; width: 57%;
    }
    #addr{
        position: relative;
        left: 0; top: -10%;
        width: 80%;
    }
    footer .banner{
        position: relative;
        bottom: -17%; left: -88%;
    }
}

@media all and (max-width:768px){
    #gnb{right: -20%; width: 50%;}
    #lnb{margin-bottom: 50px;}
    #lnb ul{width: 60%; margin: 0 auto;}
    #introMent li:nth-of-type(1){
        font-size: 1.5rem;
    }
    #introMent li:nth-of-type(2){
        font-size: 0.8rem;
    }
    footer{height: 550px; background-color: #2c0039;}
    footer .flex{display: inline;}
    #fir{width: 100%;}
    #ft_logo{position: relative; top: 6%;}
    #ft_menu{
        display: flex; width: 100%; 
        position: relative; top: 15%;
    }
    footer div:nth-of-type(1){line-height: 0;}
    #sns{display: flex; justify-content: flex-end;}
    #second{width: 100%;}
    #addr{margin-top: 80px; width: 100%; font-size: 0.9rem;}
    footer .banner{
        position: relative;
        bottom: 22%; left: 1%;
    }
}